# Bitburner
- der ordner "bitburner-gamefolder" entspricht dem spielinternen root-verzeichnis auf home
  - alle Datein in diesem ordner werden vom plugin "Bitburner VSCode Integration" an das Spiel übertragen
  - in diesem Ordner soll basis.js und eine weitere Datei zum reinitialiseren aus GIT liegen
  - alle weiteren *.js-dateien kommen in den unterordner "scripts"
- die Datei "TODO.md" soll immer aktuell sein
	- geplante Änderunegen sollen in "TODO.md" dokumentiert werden
	- abgeschlossene Änderungen sollen in "TODO.md" abgehakt werden
- die Datei "README.md" soll eine kurze Beschreibung des Projekts enthalten
- alle Änderungen sollen in GIT committed werden
  - Praktische Git-Konventionen: (Commit-Messages im Format "type: message")
    - fix: für Bugfixes
    - feat: für neue Features
    - refactor: für Umstrukturierungen
    - docs: für Dokumentation
    - test: für Tests
- Datenpersistenz
  - Alle persistenten Daten müssen im localStorage gespeichert werden
  - Der Prefix für localStorage-Keys wird zentral in SETTINGS definiert

