# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# Betriebssystem
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log*

# Bitburner spezifisch
*.txt
NetscriptDefinitions.d.ts 