# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.code-workspace

# Sublime Text
*.sublime-workspace
*.sublime-project

# Betriebssystem
.DS_Store
Thumbs.db

# Temporäre Dateien
*.tmp
*.log

# Bitburner Spielstände
bitburnerSave_*.json.gz

# Backup Dateien
*~
*.bak
*.swp

# Beispiel-Dateien ignorieren
beispiel*.js

